[Unit]
Description=TunSafe for interface %I
After=network-online.target nss-lookup.target
Wants=network-online.target nss-lookup.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/tunsafe start -d -n %i /etc/tunsafe/%i.conf
ExecStop=/usr/bin/tunsafe stop %i

[Install]
WantedBy=multi-user.target
